<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>createNickname.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="<%= baseUrl %>game.css"/>
    <script language="JavaScript">var baseUrl = "<%= baseUrl %>"</script>
    <title>Ludo - Register</title>
</head>
<body>
    <div class="text-center center-div" id="login">
    <div class="container w-25 border py-5">
        <div class="title pb-5">
            <h2 class="font-weight-bold">Login System</h2>
            <span>Log in for the existing user</span>
            <% if(locals.logout){ %>
                <div class="alter alert-success text-center">
                    <%= logout %>
                </div>
            <% } %>
        </div>
        <form action="/login" method="POST" class="pt-3">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="username" name="username">
                <small class="form-text text-muted text-left">Enter Username</small>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="password">
            </div>
            <button type="submit" class="btn btn-success rounded-pill">Submit</button>
        </form>
    </div>
</div>

</body>